body {
    font-family: 'Nanum Myeongjo', serif;
    color: #1F9AE0;
}

section {
    width: 100vw;
    height: 100vh;
}

.desc-for-student  {
    text-align: center;
    color: black;
}

/*! 시작 페이지 */
#start_page {
    padding-top: 8%;
    display: flex;
    flex-direction: column;
}
/*! (3단계) Step_1 페이지 */
#step_1 {
}

/*! (3단계) Step_2 페이지 */
#step_2 {
}

/*! (3단계) 결과 1 페이지 */
#result_1 {
    text-align: center;
    margin: 50px auto;
}

/*! (3단계) 결과 2 페이지 */
#result_2 {
    text-align: center;
    margin: 50px auto;
}

/*! (3단계) 결과 3 페이지 */
#result_3 {
    text-align: center;
    margin: 50px auto;
}

/*! (3단계) 결과 4 페이지 */
#result_4 {
    text-align: center;
    margin: 50px auto;
}

.title-box {
    text-align: center;
    margin: 50px;
}

.title {
    color : #1F9AE0;
    font-size: 80px;
    letter-spacing: 15px;
}

.desc-box {
    margin: 10px auto;
}

.desc-msg1 {
    color: white;
    background-color: #1F9AE0;
    padding: 10px;
    text-align: center;
    letter-spacing: 10px;
}

.desc-msg2 {
    color: #1F9AE0;
    border: 1px solid #1F9AE0;
    padding: 10px;
    text-align: center;
    letter-spacing: 5px;
}

.start-btn {
    color: white;
    background-color: #1F9AE0;
    letter-spacing: 5px;
    text-align: center;
    margin: 100px auto;
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    display: block;
    animation: btnAni 1.5s ease-in-out infinite both;
    font-family: Pacifico;
    font-weight: 800;
    font-size: 15px;
}

.start-btn:hover {
    background-color: #1e75a7;
}

@keyframes btnAni {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: liner;
    }
    50% {
      transform: scale(1.04);
      animation-timing-function: liner;
    }
  }

.footer {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
}

.step-box {
    margin: 40px auto;
    width: 20%;
    margin-bottom: 200px;
}

.step-msg1 {
    color: white;
    background-color: #1F9AE0;
    padding: 10px;
    text-align: center;
}

.step-msg2 {
    color: #1F9AE0;
    border: 1px solid #1F9AE0;
    padding: 10px;
    text-align: center;
}

.answer {
    border: 1px solid #1F9AE0;
    border-radius: 20px;
    text-align: center;
    color: #1F9AE0;
    padding: 15px;
    margin: 50px;
}

.answer:hover {
    background-color: #1F9AE0;
    color: white;
    cursor: grab;
}

.result-box {
    margin: 40px auto;
    width: 30%;
    margin-bottom: 200px;
}

.result-desc1 {
    color: white;
    background-color: #1F9AE0;
    padding: 10px;
    text-align: center;
}

.result-desc2 {
    color: #1F9AE0;
    border: 1px solid #1F9AE0;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width:400px) {
    .step-box {
        margin: 40px auto;
        width: 80%;
        margin-bottom: 200px;
    }

    .result-box {
        margin: 40px auto;
        width: 80%;
        margin-bottom: 200px;
    }
}